@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
html,
body {
  background-color: #f1dfd7;
  font-family: "Poppins", sans-serif;
}
/* #487Aff
#ff6935
#d4e4ff */
#rom_currency * {
  background-color: red;
}
body {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app {
  max-width: 800px;
  background: #487aff;
}

.app form {
  border: 0;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-rows: 1fr;
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  grid-gap: 2rem;
  align-items: stretch;
}

.app :is(button, input, select, textarea) {
  margin: 0;
  text-align: center;
  font-weight: 600;
  border: 0;
  font-size: 1.5rem;
}

.app :is(button, input, select, textarea):focus {
  outline-color: #ff6935;
}

.app input {
  width: 250px;
}

.app select {
  background: none;
  border: 0;
  padding: 2rem;
  font-size: 1.5rem;
}

.app form > * {
  background: #d4e4ff;
  margin: 0;
  border-radius: 0;
  -webkit-appearance: none;
  display: grid;
  align-content: center;
}
.app p {
  font-size: 1.5rem;
}

